* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#swp {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1080px;
    position: relative;
    top: 15px;
}

#swp #a { 
    background-color: red;
}

/* nav */

.activeNav {
    background-color: aquamarine;
}

nav div p {
    height: 100%;
    display: inline-block;
    font-size: 16px;
    padding: calc((100px - 16px) / 2) 15px;
    text-decoration: none;
    margin: 0;
}

nav div p:hover {
    background-color: aquamarine;
    cursor: pointer;
}

nav div {
    height: 100px;
}

/* welcome */

#welcome {
    width: 100%;
}

#welcome div h3 {
    text-align: center;
    padding: 15px 30px;
}

#welcome #welcomeSidebar h5 {
    text-align: center;
    padding: 15px 30px 0px 30px;
    font-weight: bold;
}

#welcome #welcomeSidebar h5 span {
    font-size: 10px;
    position: relative;
    top: calc((10px - 16px) / 2);
    color: gray;
}

#welcome #results, #welcome #discussions, #welcome #info {
    padding: 0px 15px;
    margin: 15px 0px;
}

#welcome #discussions a {
    display: block;
    width: 100%;
}

#welcome #welcomeSidebar div{
    clear: both;
}

#welcome #welcomeContentDiv div .content {
    padding: 0px 15px;
}

#welcome #welcomeContentDiv div h5 {
    padding: 15px 15px 0px 15px;
    font-weight: bold;
}

#welcome #welcomeContentDiv div h5 span {
    font-size: 15px;
    font-weight: normal;
    color: gray;
    float: right;
}

#welcome #welcomeContentDiv .content .more {
    float: right;
    cursor: pointer;
    text-decoration: underline;
}

/* Results page */

#resultsContentDiv, #welcomeContentDiv /* remove welcome from ruleset when finished */, #membersContentDiv, #hallContentDiv {
    display: none;
}

#welcomeContentDiv {
    display: block;
}